.container
  .row.col-md-12
    table.table.table-striped
      tr
        td ID
        td 页面模块部分
        td 操作
      tr
      	td 1
      	td 首页焦点图
      	td 
      	  a(href="") 查看
      	  a(href="") 修改